Django==1.11.2
django-debug-toolbar==1.8
django-extensions==1.7.9
django-configurations==2.0
djangorestframework==3.6.3
psycopg2==2.7.1
PyJWT==1.5.2
coverage==4.4.1
Sphinx==1.6.2
elizabeth==0.3.11
python-magic==0.4.13
pytest==3.4.2
pytest-django==3.1.2
gunicorn==19.7.1

git+https://07de0218088728b42ee60f155c71990f1dc6a717:x-oauth-basic@github.com/Q-CIS-DEV/trood-auth-client.git#egg=trood-auth-client